# Ignore node_modules directory
node_modules/

# Ignore files generated during development or build process

/.idea/
/.vscode/

# Ignore log files and other temporary files
*.log
*.tmp

# Ignore environment-specific configuration files
.env
